
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel">
		<div class="inner-wrap">
			<div class="menu-wrap">
				<ul class="menu">
					<li>
						<a href="" class="link-menu">
							<span class="button-ico"><img src="./img/icons/menu01.svg" alt=""></span>
							<span class="button-title">Сотрудничество</span>
						</a>
					</li>
					<li>
						<a href="" class="link-menu active">
							<span class="button-ico"><img src="./img/icons/menu02.svg" alt=""></span>
							<span class="button-title">Инвесторам</span>
						</a>
					</li>
					<li>
						<a href="" class="link-menu">
							<span class="button-ico"><img src="./img/icons/menu03.svg" alt=""></span>
							<span class="button-title">Вакансии</span>
						</a>
					</li>
					<li>
						<a href="" class="link-menu">
							<span class="button-ico"><img src="./img/icons/menu04.svg" alt=""></span>
							<span class="button-title">Франчайзинг</span>
						</a>
					</li>
					<li>
						<a href="" class="link-menu">
							<span class="button-ico"><img src="./img/icons/menu05.svg" alt=""></span>
							<span class="button-title">Реквизиты</span>
						</a>
					</li>
					<li>
						<a href="" class="link-menu">
							<span class="button-ico"><img src="./img/icons/menu06.svg" alt=""></span>
							<span class="button-title">Наша команда</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="contacts-wrap">
				<div class="links-wrap">
					<div class="phone-wrap">
						<a href="tel:88001001078" class="link-phone">8 (800) 100-10-78</a>
					</div>
					<div class="email-wrap">
						<a href="" class="link-email">info@biotronika.ru</a>
					</div>
				</div>
				<div class="callback-wrap">
					<a href="" class="btn button-border" data-src="#popup-callback" data-fancybox>Обратный звонок</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel">
		<div class="inner-wrap">
			<div class="copy-wrap">© 2020 Все права защищены</div>
			<div class="info-wrap">
				<a href="">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<div id="popup-thanks" class="popup-box">
	<div class="popup-text-box">
		<div class="popup-title"><span class="text-att">Спасибо,</span> заявка отправлена!</div>
		<div class="popup-text">Наш менеджер перезвонит вам в&nbsp;ближайшее время </div>
		<div class="elm-ico">
			<img src="./img/icons/succefull.svg" alt="">
		</div>
		<div class="popup-button">
			<a href="" class="btn button-border">Вернуться на главную</a>
		</div>
	</div>
</div>
